<a href="https://colab.research.google.com/github/Chaddarcheesee/Chaddarcheesee/blob/main/%E0%B8%A1_%E0%B9%80%E0%B8%A5%E0%B8%82%E0%B8%97%E0%B8%B5%E0%B9%88_%E0%B8%8A%E0%B8%B7%E0%B9%88%E0%B8%AD_%E0%B8%99%E0%B8%B2%E0%B8%A1%E0%B8%AA%E0%B8%81%E0%B8%B8%E0%B8%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. รู้จักไพทอน**

<font size=4 color='blue'>**ตัวอย่างที่ 1** เริ่มเขียน Python ด้วย Colab</font>

In [ ]:
print("Hello World")   #บรรทัดที่ 1 ใช้คำสั่ง print แสดงข้อความทางหน้าจอ

Hello World

<font size=4 color='red'>**กิจกรรมที่ 1** เขียนคำสั่งไพทอน ให้แสดง ชื่อ นามสกุล ของนักเรียน</font>

# **2. การแสดงผลด้วยฟังก์ชัน print()**

<font size=4 color='blue'>**ตัวอย่างที่ 2.1** การใช้คำสั่ง print() เพื่อแสดงข้อมูลชนิดต่างๆ</font>

In [ ]:
print('Hello')                  #บรรทัดที่ 1 ใช้คำสั่ง print แสดงข้อความ โดยใช้(' ')
print("สวัสดี")                #บรรทัดที่ 2 ใช้คำสั่ง print แสดงข้อความ โดยใช้(" ")
print(' "Python" ')           #บรรทัดที่ 3 ใช้คำสั่ง print แสดงข้อความ โดยใช้(' " " ')
print( )                          #บรรทัดที่ 4 ใช้คำสั่ง print ไม่แสดงข้อความ โดยใช้( )
print(123)                     #บรรทัดที่ 5 ใช้คำสั่ง print แสดงเลขจำนวนเต็ม
print(425.66)                 #บรรทัดที่ 6 ใช้คำสั่ง print แสดงเลขจำนวนจริง

<font size=4 color='red'>**กิจกรรมที่ 2.1** ใช้คำสั่ง print() เพื่อแสดงข้อมูลตาม output ที่กำหนด</font>

<font color='red'>**[output]**
<br>พิสิฐ รักษ์กระโทก
<br>ห้อง ม.2/1
<br>“เลขที่ 99”
<br>โรงเรียนนครนายาวิทยาคม
</font>

<font size=4 color='blue'>**ตัวอย่างที่ 2.2** การใช้เครื่องหมายต่างๆกับคำสั่ง print()</font>

In [ ]:
print("Hello"+ "World")        #บรรทัดที่ 1 ใช้คำสั่ง print แสดงข้อความ โดยใช้ + เป็นการรวมข้อความสตริง
print('สวัสดี' * 3)                  #บรรทัดที่ 2 ใช้คำสั่ง print แสดงข้อความ โดยใช้ * เป็นการเพิ่มจำนวนข้อความสตริงตามตัวเลขที่ต่อท้าย
print("Hello \nWorld")          #บรรทัดที่ 3 ใช้คำสั่ง print แสดงข้อความ โดยใช้ \n ถึงการขึ้นบรรทัดใหม่
print("\\Go")                       #บรรทัดที่ 4 ใช้คำสั่ง print แสดงข้อความ โดยใช้ \\ เพื่อให้แสดงสัญลักษณ์ \
print("\"Go")                       #บรรทัดที่ 5 ใช้คำสั่ง print แสดงข้อความ โดยใช้ \" เพื่อให้แสดงสัญลักษณ์ "
print("\'Go")                       #บรรทัดที่ 6 ใช้คำสั่ง print แสดงข้อความ โดยใช้ \' เพื่อให้แสดงสัญลักษณ์ '

<font size=4 color='red'>**กิจกรรมที่ 2.2** ใช้คำสั่ง print() เพื่อแสดงข้อมูลตาม output ที่กำหนด</font>

<font color='red'>**[output]**
<br>สวัสดีฉันชื่อ“ไพทอน”
<br>\ฉันอายุ 12 ปี
<br>บ้านเลขที่ 100
<br>อ.เมืองนครนายก
<br>จ.นครนายก
<br>26000
<br>ไพทอนไพทอนไพทอนไพทอนไพทอน

# **3. ตัวแปร**

<font size=4 color='red'>**กิจกรรมที่ 3** ตั้งชื่อตัวแปรตามข้อมูลที่กำหนดให้ และแสดงค่าทางหน้าจอ</font>

<font color='red'>
<br>1. ตัวแปรสำหรับเก็บข้อมูล ชื่อ  
<br>2. ตัวแปรสำหรับเก็บข้อมูล นามสกุล
<br>3. ตัวแปรสำหรับเก็บข้อมูล เลขที่
<br>4. ตัวแปรสำหรับเก็บข้อมูล ห้องเรียน
<br>5. ตัวแปรสำหรับเก็บข้อมูล โรงเรียน
<br>แสดงข้อมูลของตัวแปรทั้งหมดทางหน้าจอ
</font>

# **4. ชนิดข้อมูล**

<font size=4 color='blue'>**ตัวอย่างที่ 4.1** กำหนดค่าให้ตัวแปรประเภทข้อความ</font>

In [ ]:
name =  ' "พิสิฐ รักษ์กระโทก" '                                  #บรรทัดที่ 1 กำหนดค่าตัวแปร name = "พิสิฐ รักษ์กระโทก"
occupation = "ครู  คอมพิวเตอร์  นครนายกวิทยาคม"       #บรรทัดที่ 2 กำหนดค่าตัวแปร occupation = ครู คอมพิวเตอร์ นครนายกวิทยาคม
print (...)                                                           #บรรทัดที่ 3 ใช้คำสั่ง print แสดงค่าตัวแปร name
print (...)                                                    #บรรทัดที่ 4 ใช้คำสั่ง print แสดงค่าตัวแปร occupation

<font size=4 color='red'>**กิจกรรมที่ 4.1** ให้เขียนคำสั่งไพทอน สร้างตัวแปร กำหนดค่าตัวแปร
และแสดงผลลัพธ์ตาม [output]ที่กำหนด</font>

<font color='red'>**[output]**
<br>โรงเรียนนครนายกวิทยาคม
<br>“ต.นครนายก
<br>อ.เมืองนครนายก
<br>จ.นครนายก”

<font size=4 color='blue'>**ตัวอย่างที่ 4.2** กำหนดค่าให้ตัวแปรประเภทจำนวน</font>

In [ ]:
wide = 10                                      #บรรทัดที่ 1 กำหนดค่าตัวแปร wide = 10
length = 15                                    #บรรทัดที่ 2 กำหนดค่าตัวแปร length = 15
area = ... * ...                       #บรรทัดที่ 3 กำหนดค่าตัวแปร area = wide x length  พื้นที่สี่เหลี่ยมผืนผ้า = กว้าง x ยาว
print ("ความกว้าง = " , ...)                 #บรรทัดที่ 4 แสดงข้อมูล ความกว้าง ตัวแปร wide
print ("ความยาว = " , ...)                  #บรรทัดที่ 5 แสดงข้อมูล ความยาว ตัวแปร length
print ("พื้นที่สี่เหลี่ยมผืนผ้า = " , ...)              #บรรทัดที่ 6 แสดงข้อมูล พื้นที่ ตัวแปร area

<font size=4 color='red'>**กิจกรรมที่ 4.2** เขียนคำสั่งไพทอน เพื่อคำนวณหาพื้นที่ของสามเหลี่ยม โดย กำหนดให้ฐานเท่ากับ 10  และสูงเท่ากับ 15 </font>

<font color='red'>**[output]**
<br>ฐาน = 10
<br>สูง = 15
<br>พื้นที่สามเหลี่ยม = 75.0
</font>

# **5. ตัวดำเนินการทางคณิตศาสตร์**

<font size=4 color='blue'>**ตัวอย่างที่ 5.1** คำสั่งตัวดำเนินการทางคณิตศาสตร์</font>

In [ ]:
#ตัวอย่างที่ 5.1
a = 10                            #บรรทัดที่ 1 กำหนดค่าตัวแปร a เท่ากับ 10
b = 3                              #บรรทัดที่ 2 กำหนดค่าตัวแปร b เท่ากับ 3
print(a + b)                     #บรรทัดที่ 3 แสดงข้อมูล (a บวก b)
print(a - b)                      #บรรทัดที่ 4 แสดงข้อมูล (a ลบ b)
print(a * b)                     #บรรทัดที่ 5 แสดงข้อมูล (a คูณ b)
print(a / b)                     #บรรทัดที่ 6 แสดงข้อมูล (a หาร b)
print(a ** b)                   #บรรทัดที่ 8 แสดงข้อมูล (a ยกกำลัง b)
print(a // b)                    #บรรทัดที่ 9 แสดงข้อมูล (a หาร b เอาจำนวนเต็ม)
print(a % b)                   #บรรทัดที่ 10 แสดงข้อมูล (a หาร b เอาเศษที่เหลือ)

13
7
30
3.3333333333333335
1000
3
1

<font size=4 color='blue'>**ตัวอย่างที่ 5.2** เขียนคำสั่งไพทอน เพื่อคำนวณหาพื้นที่สี่เหลี่ยมผืนผ้า
โดยกำหนดให้ความกว้างเท่ากับ 5 และความยาวเท่ากับ 8</font>

In [ ]:
#ตัวอย่างที่ 5.2
wide = 5                                                #บรรทัดที่ 1 กำหนดค่าตัวแปรกว้างเป็น wide = 5
length = 8                                              #บรรทัดที่ 2 กำหนดค่าตัวแปรยาวเป็น length = 8
area = wide * length                                #บรรทัดที่ 3 กำหนดค่าตัวแปรพื้นที่เป็น พื้นที่ = กว้าง x ยาว
print ("ความกว้าง = " , wide)                      #บรรทัดที่ 4 แสดงข้อมูล ความกว้าง ตัวแปร wide
print ("ความยาว = " , length)                     #บรรทัดที่ 5 แสดงข้อมูล ความยาว ตัวแปร length
print ("พื้นที่สี่เหลี่ยมผืนผ้า = " , area)          #บรรทัดที่ 6 แสดงข้อมูล พื้นที่ ตัวแปร area

<font size=4 color='blue'>**ตัวอย่างที่ 5.3** มีเงินเหรียญ 1 บาทในกระปุกออมสินจำนวน 2175 เหรียญ ต้องการแลกธนบัตร 20 บาท จะได้ธนบัตร 20 บาทกี่ใบ และเหลือเหรียญ 1 บาทกี่เหรียญ</font>

In [ ]:
#ตัวอย่างที่ 5.3
b20 = 2175 // 20                                                  #บรรทัดที่ 1 คำนวณหาจำนวนธนบัตร 20 บาท โดย 2175 หาร 20 เอาจำนวนเต็ม
coin1 = 2175 % 20                                               #บรรทัดที่ 2 คำนวณหาเศษที่เหลือ โดย 2175 หาร 20 เอาเศษที่เหลือ
print("เหรียญ 1 บาท จำนวน 2175 เหรียญ ")               #บรรทัดที่ 3 แสดงข้อมูล
print("แลกเป็นธนบัตร 20 บาท ได้จำนวน", b20 , "ใบ")  #บรรทัดที่ 4 แสดงข้อมูลตัวแปร b20
print("เหลือเหรียญ 1 บาท จำนวน", coin1 , "เหรียญ")   #บรรทัดที่ 5 แสดงข้อมูลตัวแปร coin1

<font size=4 color='red'>**กิจกรรมที่ 5.1** เขียนคำสั่งไพทอน คำนวณหาพื้นที่ของสามเหลี่ยม โดยกำหนดให้ฐานเท่ากับ 20 และสูงเท่ากับ 30</font>

In [ ]:
#กิจกรรมที่ 5.1

<font size=4 color='red'>**กิจกรรมที่ 5.2** เขียนคำสั่งไพทอนตามโจทย์ที่กำหนดให้ **(กิจกรรมกลุ่ม)**</font>

<font color='red'>
<br>1. เขียนคำสั่งไพทอน แปลงอุณหภูมิจาก 37 องศาเซลเซียส ให้เป็น องศาฟาเรนไฮต์ และองศาเคลวิน
<br>[ output ]
<br>อุณหภูมิ 37 องศาเซลเซียส
<br>เท่ากับ 98.60 องศาฟาเรนไฮต์
<br>เท่ากับ 310.15 องศาเคลวิน
<br><br>2. แปลงเวลาจาก 500 นาที ให้เป็นเวลาในหน่วย ชั่วโมง, นาที ให้เริ่มจากหน่วยที่มีค่ามากที่สุดก่อน
<br>[ output ]
<br>แปลงเวลา 500 นาที เป็นชั่วโมง ได้ดังนี้
<br>8 ชั่วโมง
<br>20 นาที
<br><br>3. ต้องการแลกเงิน 1230 บาท เป็นธนบัตร 50 บาท และเหรียญ 10 บาท จะได้ธนบัตร 50 บาทกี่ใบ และเหรียญ 10 บาทกี่เหรียญ โดยให้เริ่มจากชนิดที่มีค่ามากสุดที่เป็นไปได้เสมอ
<br>[ output ]
<br>เงิน 1230 บาท และธนบัตร 50 บาท และเหรียญ 10 บาทได้ดังนี้
<br>เป็นธนบัตร 50 บาท จำนวน 24 ใบ
<br>เป็นเหรียญ 10 บาท จำนวน 3 เหรียญ

กลุ่มที่ 1  ห้องเรียน ม.2/10

In [ ]:
#กิจกรรม 5.2 ข้อที่ 1

In [ ]:
#กิจกรรม 5.2 ข้อที่ 2

In [ ]:
#กิจกรรม 5.2 ข้อที่ 3

# **6. การรับข้อมูลด้วยฟังก์ชัน input()**

<font size=4 color='blue'>**ตัวอย่างที่ 6.1** การรับข้อมูลข้อความด้วยฟังก์ชัน input()</font>

In [ ]:
name = input( )               #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร name
print(...)                     #บรรทัดที่ 2 แสดงค่าตัวแปร name ทางหน้าจอ

<font size=4 color='blue'>**ตัวอย่างที่ 6.2** การรับข้อมูลเลขจำนวนเต็มด้วยฟังก์ชัน input()</font>

In [ ]:
score = input( )               #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร score
score = int(...)            #บรรทัดที่ 2 แปลงค่าที่รับเข้ามาให้เป็นเลขจำนวนเต็ม
print(...)                     #บรรทัดที่ 3 แสดงค่าตัวแปร score ทางหน้าจอ

สามารถเขียนแบบย่อได้ดังนี้

In [ ]:
score = int(input( ))         #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร score พร้อมกับแปลค่าให้เป็นเลขจำนวนเต็ม
print(...)                     #บรรทัดที่ 2 แสดงค่าตัวแปร score ทางหน้าจอ

<font size=4 color='blue'>**ตัวอย่างที่ 6.3** การรับข้อมูลเลขจำนวนจริงด้วยฟังก์ชัน input()</font>

In [ ]:
gpa = input( )               #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร gpa
gpa = float(...)            #บรรทัดที่ 2 แปลงค่าที่รับเข้ามาให้เป็นเลขจำนวนจริง
print(...)                     #บรรทัดที่ 3 แสดงค่าตัวแปร gpa ทางหน้าจอ

สามารถเขียนแบบย่อได้ดังนี้

In [ ]:
gpa = float(input( ))       #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร gpa พร้อมกับแปลค่าให้เป็นเลขจำนวนจริง
print(...)                     #บรรทัดที่ 2 แสดงค่าตัวแปร gpa ทางหน้าจอ

<font size=4 color='blue'>**ตัวอย่างที่ 6.4** การรับค่าโดยแสดงข้อความอธิบายให้ผู้ใช้งานเข้าใจและแสดงผลออกทางหน้าจอ</font>

In [ ]:
name = input("กรุณาพิมพ์ชื่อของคุณ : ")                 #บรรทัดที่ 1 รับค่าข้อความเก็บไว้ในตัวแปร name
number = int(input("กรุณาพิมพ์เลขที่ของคุณ : "))     #บรรทัดที่ 2 รับค่าเลขจำนวนเต็ม เก็บไว้ในตัวแปร number
print("สวัสดีคุณ " , ...)                                     #บรรทัดที่ 3 แสดงข้อความใน " " และต่อด้วย ค่าตัวแปร name ทางหน้าจอ
print("เลขที่ของคุณคือ " , ...)                         #บรรทัดที่ 4 แสดงข้อความใน " " และต่อด้วย ค่าตัวแปร number ทางหน้าจอ

<font size=4 color='red'>**กิจกรรมที่ 6** เขียนคำสั่งไพทอนตามโจทย์ที่กำหนดให้ **(กิจกรรมกลุ่ม)**</font>

<font color='red'>
<br>1. โปรแกรมรับคะแนนเก็บระหว่างเรียน (เต็ม 40) คะแนนสอบกลางภาค (เต็ม 30) และคะแนนสอบปลายภาค (เต็ม 30) เข้าสู่โปรแกรมแล้วแสดงผลลัพธ์เป็นคะแนนรวม (เต็ม 100)
<br>
<br>2. โปรแกรมคำนวณหาพื้นที่สี่เหลี่ยมผืนผ้า โดยรับค่าความกว้าง และความยาวเข้าสู่โปรแกรมแล้วแสดงผลลัพธ์พื้นที่สี่เหลี่ยมผืนผ้า

# **7. ทดลองเขียนโปรแกรม**

นักเรียนสามารถใช้พื้นที่ส่วนนี้ในการทดลองเขียนโปรแกรมตามที่นักเรียนสนใจได้